#navbar{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
    overflow: hidden;
    height: 80px;
}

#training .items{
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#training .items .item{
    width: 100%;
}
#courses .course{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}